/*========Main-sobre nosotros============*/

.row {
    display: flex;
}

.text-center {
    font-family: var(--titulos);
    font-weight: 100;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 2.0rem;
    color: rgb(0, 0, 0, .5);
}

.col-sm-7 {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 4em;
    flex: 33, 33%;
    padding: 5px;
    /* text-align:justify;*/
    color: rgb(0, 0, 0, .5);
    font-family: 'Poppins', sans-serif;
}

.col-sm-5 {
    margin-top: 2em;
    margin-right: 5em;
}

.col-sm-5 img {
    -webkit-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
    margin-top: 2.5em;
    height: 30em;
    border-radius: 8px;
}

.redes-container {
    margin-top: 2em;
    text-align: center;
}

.redes-container ul {
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.redes-container ul li {
    margin: 0.5em;
}

.redes-container ul li img {
    height: 2.1em;
}

.seguinos {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0, .5);
}

.ayuda-mobile {
    display: none;
    text-align: justify;
}


/*===============TABLET==================*/

@media screen and (min-width:401px)and (max-width: 992px) {
    .text-center {
        font-size: 1.4em;
    }
    .redes-container {
        margin-top: 5.5em;
    }
    .ayuda-mobile h2 {
        font-weight: bold;
        color: #404040;
    }
    .ayuda-mobile a {
        color: rgb(0, 0, 0, .5);
        text-decoration: underline;
    }
}


/*=================MÓVIL=================*/

@media screen and (max-width: 767px) {
    .col-sm-5 img {
        display: none;
    }
    .text-center {
        margin: 0;
        margin-bottom: 0.8em;
        padding: 0;
        min-width: 250px;
        letter-spacing: 0.1em;
        font-size: 1.2em;
    }
    .col-sm-7 {
        margin-left: 2rem;
        margin-right: 1.3rem;
        margin-top: 2rem;
        text-align: left;
        color: rgb(0, 0, 0, .5);
    }
    .col-sm-7 p {
        padding: 7px;
        margin-right: 1.3em;
        font-size: 0.9rem;
        min-width: 280px;
    }
    .ayuda-mobile {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .ayuda-mobile h2 {
        margin-top: 2rem;
        margin-bottom: 0.2rem;
        text-align: justify;
        font-size: 1.2rem;
        color: grey;
    }
    .ayuda-mobile p {
        font-size: 1em;
        text-align: justify;
        color: rgb(0, 0, 0, .5);
    }
    .ayuda-mobile a {
        color: rgb(0, 0, 0, .5);
        text-decoration: underline;
    }
}