/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
  Author's custom styles
   ========================================================================== */


/***Costun properties***/

:root {
    --primario: #fafafa;
    --fuentePrimaria: 'Poppins', sans-serif;
    --titulos: 'iconic', sans-serif;
    --subTitulos: 'Oswald', sans-serif;
}


/****fuentes***/

@font-face {
    font-family: "thinoo";
    src: url("../webfonts/thinoobold.otf");
}

@font-face {
    font-family: "iconic";
    src: url("../webfonts/Iconic-Regular-trial.ttf");
}


/********Globales*******/

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: white;
    box-sizing: inherit;
}

.contenedor {
    margin: 0 auto;
    width: 95%;
    background-color: white;
}

@media only screen and (min-width:768px) {
    .contenedor {
        width: 85%
    }
}

@media only screen and (min-width:480px) {
    .contenedor {
        width: 95%
    }
}

@media only screen and (min-width:992px) {
    .contenedor {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-family: var(--titulos);
    text-transform: uppercase;
    padding: 1em 0;
    letter-spacing: .2em;
    margin: 0;
    font-weight: 100;
}

h2 {
    font-family: var(--subTitulos);
}

@media only screen and (max-width:767px) {
    h1 {
        letter-spacing: normal;
        /* margin: 0 auto 0 .5em; */
        /* width: 85%; */
        text-align: justify;
        padding: .8em 0 .1em 0;
        color: black;
        opacity: .5;
    }
}

div.titulo {
    width: 90%;
    margin: 0 auto;
}


/******header*****/

header {
    display: block;
    text-align: center;
}

div.barra-navegacion {
    margin: 0 auto;
}

nav.redes-sociales a i {
    font-size: 1.5em;
    padding: .2em;
    color: black;
    transition: all ease-in-out 0.3s;
    opacity: .5;
    margin: 0;
}

nav.redes-sociales a i:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}


/************barra de navegacion*************/


/* barra quieta*/

.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


/**logo**/

div.logo a {
    text-align: center;
    color: #A986FA;
    /* text-shadow: 3px 4px 5px rgba(104, 104, 104, 0.5); */
}

div.logo a div p {
    margin-top: 0;
    font-size: .7em;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: 'Cinzel', serif;
}

div.logo a h2 {
    font-family: 'Cinzel', serif;
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 10px;
}

div.logo a div {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

span.icono-mobile {
    margin: -1em 0 0 25px;
}

span.icono-mobile i {
    font-size: 1.5rem;
    color: #333333;
}

div.barra-navegacion {
    -webkit-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    margin-top: 0;
    width: 100%;
}

nav.menu-movil {
    width: 2.5em;
    position: absolute;
    top: 2em;
    left: .8em;
    cursor: alias;
}

nav.menu-movil span {
    width: 2.5em;
    height: .4em;
    display: block;
    background-color: gray;
    /* opacity: .5; */
    border-radius: 1rem;
    margin-bottom: 2px;
    opacity: .5;
}

div.logo {
    padding-top: 1em;
}

div.enlaces {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    color: rgba(0, 0, 0, 0.5);
    /* width: 60%; */
}

@media only screen and (max-width:767px) {
    div.enlaces a {
        font-weight: 500;
        /* padding: 4px 1em; */
        width: 100%;
    }
    div.enlaces {
        /* display: block; */
        /* position: fixed; */
        top: 5px;
        width: 200px;
        height: 100%;
    }
    div.logo {
        /* position: absolute; */
    }
}

@media only screen and (min-width:768px) {
    div.logo a h2 {
        font-size: 2rem;
    }
    h1 {
        /* width: 80%; */
        margin-left: 1rem;
        text-align: justify;
        opacity: .5;
    }
    span.icono-mobile,
    nav.menu-movil {
        display: none;
    }
    nav.navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.logo {
        margin: 0rem auto 1rem auto;
        display: block;
        position: relative;
        /* top: -15px; */
    }
    div.enlaces {
        margin-top: -15px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        position: relative;
        top: -25px;
    }
    div.enlaces a {
        font-size: 1rem;
        text-decoration: none;
        padding: 5px;
        transition: all ease-in-out 0.2s;
        color: #242424;
        margin: 0 25px;
        font-weight: 500;
        line-height: 13px;
        text-decoration-color: #ccc;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
    }
}

@media only screen and (min-width:992px) {
    div.enlaces a {
        font-size: .9rem;
        text-decoration-color: #ccc;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
    }
    div.logo a h2 {
        font-size: 2.5rem;
    }
}

div.enlaces a:hover {
    text-decoration: underline #ccc;
    transform: scale(1.01);
    -webkit-transform: scale(1.1);
}

@media only screen and (min-width:768px) {
    div.enlaces span {
        margin: 0 5%;
    }
}

@media only screen and (min-width:992px) {
    div.enlaces {
        margin-left: 1.46%;
    }
}


/******HOME*******/


/* contenedor-venta */

div.oferta-venta {
    margin: 20px auto;
    text-align: center;
    /* border: 1px solid #ccc; */
    padding: 0 0 0px 0;
    background-color: white;
    transition: all ease-in-out .2s;
    width: 95%;
    height: 420px;
}

div.oferta-venta:hover {
    transform: scale(1.01);
}

div.oferta-venta div a {
    font-family: 'Oswald', sans-serif;
    color: #c887e5;
    font-weight: bolder;
}

div.oferta-venta div {
    padding: 0px 0;
    margin-bottom: 20px;
}

div.oferta-venta p {
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 1;
    background-color: #fafafa;
    position: relative;
    width: 60%;
    color: gray;
    padding: 5px 10px;
    bottom: .8em;
    margin: 0 auto;
    -webkit-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
}

div.oferta-venta img {
    width: 100%;
    height: 384px;
    -webkit-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width:768px) {
    div.oferta-venta img {
        width: 100%;
        height: 280px;
    }
    div.contenedor-venta {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 95%;
    }
    div.oferta-venta {
        height: auto;
    }
    div.oferta-venta div {
        width: 100%;
        padding: 7px 0;
    }
}

@media only screen and (min-width:992px) {
    div.oferta-venta img {
        width: 100%;
        height: 450px;
        border-bottom: 1px solid #E1DEDE;
    }
}


/**card**/

.contenido {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.subtitulo {
    width: 90%;
    margin: 0 auto;
}

div.subtitulo h2 {
    text-align: justify;
    color: black;
    opacity: .5;
    font-size: 1.5rem;
}

.card img {
    /*Especificamos el tamaño de la imagen para cada pantalla*/
    width: 100%;
    height: 100%;
}

div.card {
    background-color: var(--primario);
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    color: gray;
    padding-bottom: .5em;
    border: none;
    transition: transform ease-in-out .2s;
}

@media only screen and (max-width:767px) {
    div.card {
        width: 49%;
        margin: 15px 3px 15px 0;
        -webkit-box-shadow: 0px 3px 9px -5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 3px 9px -5px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 3px 9px -5px rgba(0, 0, 0, 0.4);
    }
    .img-producto {
        width: 100%;
        height: 100%;
        margin: 0 0 1px 0;
        padding: 0;
    }
}

section.card-productos {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

div.card-opciones {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

div.card-opciones a,
div.card-opciones p {
    font-family: var(--fuentePrimaria);
    color: black;
    opacity: .5;
    font-size: .73em;
    text-transform: uppercase;
    margin: 0;
}

div.card-opciones p.nombre-producto {
    font-family: var(--fuentePrimaria);
    font-size: .8em;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
}

div.card-opciones p i {
    color: gray;
}

div.card-opciones a {
    color: #A986FA;
    opacity: .8;
    /* border-bottom: 1px solid #ccc; */
}

div.card:hover {
    transform: translateY(-1.5rem);
    /* border-top: 1px solid #e3e4e4; */
}

@media only screen and (min-width:768px) {
    section.card-productos {
        flex-direction: row;
        justify-content: space-around;
    }
    div.card {
        border: none;
        width: auto;
        height: auto;
        -webkit-box-shadow: 0px 3px 9px -5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 3px 9px -5px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 3px 9px -5px rgba(0, 0, 0, 0.4);
        padding-bottom: 5px;
        /* background-color: #fafafa; */
    }
    .card img {
        width: 214.98px;
        height: 280px;
        border-radius: 0;
        margin-top: 0;
    }
    div.subtitulo {
        padding-bottom: 10px;
        width: 99%;
        text-align: left;
    }
    div.subtitulo h2 {
        text-align: left;
        margin-left: 0;
    }
}

@media only screen and (min-width:992px) {
    div.subtitulo {
        padding-bottom: 10px;
        width: 82.6%;
    }
    .mujeres {
        margin-bottom: 2em;
    }
    section.card-productos {
        justify-content: center;
    }
    div.card {
        width: auto;
        height: auto;
        padding: 0 0 5px 0;
        margin: 0 20px;
        -webkit-box-shadow: 0px 3px 9px -5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 3px 9px -5px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 3px 9px -5px rgba(0, 0, 0, 0.4);
    }
    .img-producto img {
        width: 280px;
        height: 360px;
    }
}


/*********footer********/

footer {
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: #fafafa;
    margin-top: 15px;
    padding-bottom: 15px;
}

.contenido-footer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: black;
    opacity: 1;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 1.5em;
    font-size: 1em;
}

.footer-info:first {
    width: 50%;
    /* margin-left: -15px; */
}

.footer-info:last-child {
    width: 35%;
    text-align: justify;
    /* margin-left: 5px; */
}

.footer-info>p {
    margin-bottom: .7em;
    font-size: 1em;
    opacity: .5;
    text-transform: uppercase;
    /* font-weight: 800; */
}

.footer-info div p {
    font-size: 1em;
    opacity: .5;
    margin: 0;
}

.footer-info div p.titulo {
    font-size: .9em;
    margin: 5px auto;
    text-decoration: none;
    /* font-weight: 500; */
}

footer div.redes-sociales {
    text-align: center;
    opacity: .5;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: 20px auto 15px auto;
    text-transform: uppercase;
    font-size: .9em;
}

footer nav.redes-sociales a i {
    font-size: 2em;
}

footer .redes-sociales p {
    margin: 10px 0 0 0;
    font-size: .9em;
    font-family: 'Poppins', sans-serif;
}

footer div.contenido-footer div.redes-sociales-dentro {
    display: none;
}

.copyright {
    font-family: 'Oswald', sans-serif;
    font-size: .9em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 0;
}

@media only screen and (min-width:768px) {
    div.contenido-footer {
        flex-direction: row;
        justify-content: center;
        padding-top: 1.5em;
        padding-bottom: 2em;
    }
    footer {
        margin-top: 5em;
    }
    .footer-info {
        margin-right: 20px;
    }
    div.redes-sociales-dentro h2 {
        font-family: 'Cinzel', serif;
        font-size: 1.7rem;
        font-weight: 500;
        color: #A986FA;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        width: 75%;
        margin: 2.1em auto 0 auto;
    }
    footer div.contenido-footer div.redes-sociales-dentro {
        display: block;
        width: 40%;
        text-align: center;
    }
    footer div.redes-sociales {
        border-top: none;
        display: none;
    }
}

@media only screen and (min-width:998px) {
    div.contenido-footer {
        justify-content: space-evenly;
        padding-top: 1em;
        padding-bottom: 2em;
    }
    div.redes-sociales-dentro h2 {
        font-size: 3rem;
        width: 55%;
        margin: .5em auto;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}