
:root {
    --primario: #ffc107;
    --oscuro: #212121;
    --secundario: #0097a7;
    --fondo: #111c36;
}

html {
    box-sizing: border-box;
   min-height: 100%;
   font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body{
    background-color: #fafafa;
}

/* Globales*/
img {
    max-width: 95%;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    color: white;
}

.centrar-texto{
    text-align: center;
}

/**  Contacto amigoooo! */
.contenedor-hero {
    color: black;
    /* position: relative; */
    /* z-index:1; */
    text-align: center;
    font-size:1.8rem;
    /* margin-bottom: 4rem; */
}

.contenedor-hero i {
    font-size: 5rem;
    color: var(--fondo)
}
.contenedor-hero p {
    margin-bottom: 0;
    font-size: 2.6rem;
}

/* .imagen-contacto{
    margin: 0 auto;
    height: 35rem;
    background-position: center center;
    background-size: cover;
    display:flex;
    align-items: center;
} */

.fuente-titulo{
    font-size: 2.7rem;
    margin-bottom: 0;
    color: black;
}
.redes p {

    text-align: center;
    font-size: 2.7rem;
}


    .servicio{
        display: flex;
        flex-direction: row;
        /* flex-basis: calc(33.3% - 2rem); */
        align-items: center;
        color: black;
        justify-content: space-evenly;
    }

    .iconos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
         width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
        background-color: var(--fondo);
      
        /* margin-top: 2rem; */
        color:white;
        font-size: 5rem;
    }

    @media (min-width: 768px) {
        .iconos {
            width: 10rem;
            height: 10rem;
        }
    }

 .iconos-redes{
     font-size: 4rem;
 }

.contenedor-servicios {
    
   
    max-width: 120rem;
}

@media (min-width: 768px) {
    .contenedor-servicios{
        margin-top: 3rem;
    }
}

.titulo-icono {
    text-align: center;
}


@media (min-width: 768px) {

    .contenedor-servicios {
        display: flex;
        justify-content: space-between;
    }


    .servicio {
        flex-direction: column;
        flex:0 0 calc(33.3% - 1rem);

    }
}





/* .iconos i {
    font-size: 5rem;
} */

/* .redes-cont{
    font-size: 3rem;
} */

.contenedor-servicios h3 {
    font-size: 2.5rem;
    margin: 2rem auto 0 auto;
}


.iconos h3 {
    text-align: center;
    margin: 0 auto;
}



.mapa-contacto{
    display: flex;
    justify-content: center;
    
}


.info-contactanos {
    min-width: 268.8px;
    text-align: center;
    font-size: 1.65rem;
    margin: 0.3rem 0;
    color: black;
    /* padding: 2rem; */
}




.info-contactanos a {
    color: black;
    /* text-decoration: none; */
}
