/*
Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@Jose-Figueredo 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


Cristhian-Ortellado
/
myFirstWeb
1
00
 Code
 Issues 0
 Pull requests 0 Actions
 Projects 0
 Wiki
 Security 0
 Insights
myFirstWeb/css/main.css
@Cristhian-Ortellado Cristhian-Ortellado Se agregaron los archivos necesarios para iniciar el proyecto
126cc81 28 days ago
265 lines (230 sloc)  5.7 KB*/
  
/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}


/*  codigo cristhian
/********Globales*******/

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    box-sizing: inherit;
}

.contenedor {
    margin: 0 auto;
    width: 95%;
    background-color: white;
}

@media only screen and (min-width:768px) {
    .contenedor {
        width: 85%
    }
}

@media only screen and (min-width:480px) {
    .contenedor {
        width: 95%
    }
}

@media only screen and (min-width:992px) {
    .contenedor {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-family: var(--titulos);
    text-transform: uppercase;
    padding: 1em 0;
    letter-spacing: .2em;
    margin: 0;
    font-weight: 100;
}

h2 {
    font-family: var(--subTitulos);
}

@media only screen and (max-width:767px) {
    h1 {
        letter-spacing: normal;
        /* margin: 0 auto 0 .5em; */
        /* width: 85%; */
        text-align: justify;
        padding: .8em 0 .1em 0;
        color: black;
        opacity: .5;
    }
}

div.titulo {
    width: 90%;
    margin: 0 auto;
}


/******header*****/

header {
    display: block;
    text-align: center;
}

div.barra-navegacion {
    margin: 0 auto;
}

nav.redes-sociales a i {
    font-size: 2.5em;
    padding: 0.5%;
    color: #242424;
    transition: all ease-in-out 0.3s;
}

nav.redes-sociales a i:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}


/************barra de navegacion*************/


/**logo**/

div.logo a {
    text-align: center;
    color: #A986FA;
    /* text-shadow: 3px 4px 5px rgba(104, 104, 104, 0.5); */
}

div.logo a div p {
    margin-top: 0;
    font-size: .7em;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: 'Cinzel', serif;
}

div.logo a h2 {
    font-family: 'Cinzel', serif;
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 10px;
}

div.logo a div {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

div.logo div img {
    width: 64px;
    height: 14px;
    margin: 0px 2px 0 2px;
}

span.icono-mobile {
    margin: -1em 0 0 25px;
}

span.icono-mobile i {
    font-size: 1.5rem;
    color: #333333;
}

div.barra-navegacion {
    -webkit-box-shadow: 0px 2px 4px -1px rgba(120, 115, 120, 1);
    -moz-box-shadow: 0px 2px 4px -1px rgba(120, 115, 120, 1);
    box-shadow: 0px 2px 4px -1px rgba(120, 115, 120, 1);
    margin-top: 0;
    width: 100%;
}

nav.menu-movil {
    width: 2.5em;
    position: absolute;
    top: 2em;
    left: .8em;
}

nav.menu-movil span {
    width: 2.5em;
    height: .4em;
    display: block;
    background-color: #333333;
    border-radius: 1rem;
    margin-bottom: 2px;
    opacity: .5;
}

div.logo {
    padding-top: 1em;
}

div.enlaces {
    text-transform: uppercase;
    display: none;
    font-family: 'Oswald', sans-serif;
}

@media only screen and (min-width:768px) {
    div.logo a h2 {
        font-size: 2rem;
    }
    h1 {
        /* width: 80%; */
        margin-left: 1rem;
        text-align: justify;
        opacity: .5;
    }
    span.icono-mobile,
    nav.menu-movil {
        display: none;
    }
    nav.navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.logo {
        margin: 1rem auto;
        display: block;
        align-self: stretch;
    }
    div.enlaces {
        margin-top: -15px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    div.enlaces a {
        font-size: .8rem;
        text-decoration: none;
        padding: 10px;
        transition: all ease-in-out 0.2s;
        color: #242424;
        margin: 0 25px;
        font-weight: 500;
        line-height: 13px;
        text-decoration-color: #ccc;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
    }
}

@media only screen and (min-width:992px) {
    div.enlaces a {
        font-size: .9rem;
        text-decoration-color: #ccc;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
    }
    div.logo a h2 {
        font-size: 2.5rem;
    }
}

div.enlaces a:hover {
    text-decoration: underline #ccc;
    transform: scale(1.01);
    -webkit-transform: scale(1.1);
}

@media only screen and (min-width:768px) {
    div.enlaces span {
        margin: 0 5%;
    }
}

@media only screen and (min-width:992px) {
    div.enlaces {
        margin-left: 1.46%;
    }
}








/*  codigo jose*/


html {
    box-sizing: border-box;
   min-height: 100%;
   font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body{
    background-color: #e1e1e1;
}



/* Globales*/


.centrar-texto{
    text-align: center;
}

/**  Contacto amigoooo! */

/* bueno ahora me di cuenta de que hay mucho espacio a la derecha, podes probar con lo de evenly o algo asi
pero debes quitarle los margins que tiene los contenedores bro, no te olvides de eso mi pana */ 


/* bueno pana ahora te quedaste en la parte de que tenes que ver todo el tema de responsive umia, hay medio bugs, y agregar los links tambien */ 
.contenedor-contacto {
    margin: 0 auto;
    display: flex;
    flex-direction: column;   

}


@media (min-width: 768px) {
    .contenedor-contacto{
    /* margin: 0 auto; */
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
    }
}


.saltear {
    white-space: pre-line;
}
.fuente-titulo{
    font-size: 2.9rem;
    margin-bottom: 0;
    color: black;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

@media (max-width: 375px ) {
    .fuente-titulo{
        font-size: 2.2rem;
    }
}

.izquierda {
    text-align: left!important;
}

/* item 1 */ 
.redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-right: 23rem; */
    margin-left: -2rem;
    order: -1;

}



@media (min-width: 768px) {
    .seguinos-none{
        display: none;
    }   

}

.texto-contactos{
    order: -2;
}
.seguinos{
    display: none; /* para que aparezca el otrooo pa*/ 
}

@media (min-width: 768px) {
    .texto-contactos{
        order: 0;
    }

    .seguinos {
        display: block; /* aca se activa cuando la pantalla es grande */
    }
    
}




/* .texto-abajo{
    order: -1;
} */
.red{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.textito {
    text-align: center;
    font-family: var(--titulos);
    text-transform: uppercase;
    padding: 1em 0;
    letter-spacing: .2em;
    margin: 0;
    font-weight: 100;
    font-size: 1.4rem;
    color: #968cab;
}


.texto-red {
    margin-left: 10px;
    text-align: left;
    font-family: var(--titulos);
    text-transform: uppercase;
    padding: 1em 0;
    letter-spacing: .2em;
    font-weight: 100;
    white-space: pre-line;
}
.red p i {
    font-size: 100px!important;
    width: 140px;
    padding: 20px;
    margin: 0 2rem;
    border-right: 1px solid #968cab;
    text-align: center;
}

    
 .seguinos{
     margin-top: 5rem;
 }

.redes-seguinos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.icono {
    color: #a986fa;
}

.icono-red {
    font-size: 5rem;
    margin: 0 2rem 0 0;
    color:#a986fa;
}

.icono-red:last-of-type{
    margin-right: 0;
}
/* .iconos i {
    font-size: 5rem;
} */

/* .redes-cont{
    font-size: 3rem;
} */

.contenedor-servicios h3 {
    font-size: 2.5rem;
    margin: 2rem auto 0 auto;
}


.iconos h3 {
    text-align: center;
    margin: 0 auto;
}



.mapa-contacto{
    display: flex;
    justify-content: center;
    
}


.info-contactanos {
    min-width: 268.8px;
    text-align: center;
    font-size: 1.65rem;
    margin: 0.3rem 0;
    color: black;
    /* padding: 2rem; */
}




.info-contactanos a {
    color: black;
    /* text-decoration: none; */
}
